.alert-warning{
    color: #ffffff;
    text-shadow: none;
}

.none{
    display: none;
}

.center-text{
    text-align: center;
}

.center-auto{
    margin: 0 auto;
    float: none;
}

.image-photos{
    max-width: 80px;
    max-height: 80px;
}

td.last{
    vertical-align: middle !important;
}